* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
}

#container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.instances {
    width: 320px;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    flex-direction: column;
    padding: 5px;
}

.inst-here {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    flex-direction: column;
    padding: 5px;
}

.status {
    display: flex;
}

.status-ind {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 16px;
    align-self: center;
}

.run {
    background-color: rgb(0, 219, 0);
}

.stop {
    background-color: black;
}

.action {
    display: flex;
}

.play {
    background-image: url(../img/play.png);
    background-size: contain;
}

.stopped {
    background-image: url(../img/pause.png);
    background-size: contain;
}

.action-play-stop {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.action-cancel {
    width: 16px;
    height: 16px;
    background-image: url(../img/cancel.png);
    background-size: contain;
}

.new-inst {
    margin-right: auto;
    margin-left: auto;
    text-decoration-line: underline;
}

.new-inst:hover {
    cursor: pointer;
}

.worklog {
    width: 380px;
    max-height: 550px;
    overflow-y: auto;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    flex-direction: column;
    padding: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: lightgrey;
}

.log {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.none {
    display: none;
}
